In [1]:
import keras

In [2]:
model = keras.models.load_model('./Model/six-shoes-model.h5')

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./Data/train+target.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,49143,49144,49145,49146,49147,49148,49149,49150,49151,target
0,0.015686,0.015686,0.015686,0.011765,0.011765,0.011765,0.007843,0.007843,0.007843,0.003922,...,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.007843,0.007843,0.007843,1.0
1,0.117647,0.113725,0.105882,0.086275,0.082353,0.074510,0.054902,0.050980,0.043137,0.039216,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
2,0.086275,0.086275,0.086275,0.058824,0.058824,0.058824,0.031373,0.031373,0.031373,0.023529,...,0.015686,0.035294,0.011765,0.011765,0.039216,0.007843,0.011765,0.039216,0.007843,1.0
3,0.058824,0.062745,0.078431,0.090196,0.094118,0.109804,0.027451,0.031373,0.050980,0.050980,...,0.062745,0.043137,0.031373,0.054902,0.035294,0.023529,0.043137,0.023529,0.011765,1.0
4,0.094118,0.078431,0.074510,0.074510,0.058824,0.054902,0.062745,0.047059,0.043137,0.062745,...,0.015686,0.007843,0.011765,0.015686,0.007843,0.011765,0.015686,0.007843,0.011765,1.0

In [5]:
import numpy as np

train = df.iloc[:,:-1]
train_arr = np.array(train)

In [6]:
imgScaled = train_arr.reshape(-1,128,128,3)

In [11]:
j = 0
predictList = []
for i in range(240 * j,240 * (j+1)):
     predictList.append(model.predict(imgScaled[i:i+1],verbose=0).tolist())

In [19]:
# 오차범위 구하기
one = []
two = []
three = []
four = []
five = []

for pre in predictList:
    one.append(pre[0][1])
    two.append(pre[0][2])
    three.append(pre[0][3])
    four.append(pre[0][4])
    five.append(pre[0][5])

In [21]:
oneList = [np.min(one),np.max(one)]
twoList = [np.min(two),np.max(two)]
threeList = [np.min(three),np.max(three)]
fourList = [np.min(four),np.max(four)]
fiveList = [np.min(five),np.max(five)]

In [28]:
df = pd.DataFrame(
    [oneList,twoList,threeList,fourList,fiveList],
    index=['adidas2','converse1','converse2','nike1','nike2'],
    columns=['min','max']
)

In [30]:
df

                    min           max
adidas2    1.331269e-16  2.794868e-06
converse1  3.200537e-15  3.124305e-07
converse2  1.113863e-14  6.925302e-07
nike1      6.352477e-18  2.710838e-08
nike2      4.157157e-15  1.025631e-07

In [29]:
df.to_csv('./Model/error.csv',index=False)

            min           max
0  1.331269e-16  2.794868e-06
1  3.200537e-15  3.124305e-07
2  1.113863e-14  6.925302e-07
3  6.352477e-18  2.710838e-08
4  4.157157e-15  1.025631e-07